.container {
  width: 20%;
  background-color: cadetblue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;  
}
.container:hover {
    background-color: wheat;
    color: darkcyan;
  }