.container {
  position: relative;
  margin-bottom: 2px;

  .input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 100%;
  }
  .search {
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 42px;
    height: 100px;
    background-color: white;
    overflow-y: scroll;
    .query {
      padding: 2px 4px;
      margin-bottom: 4px;
    }
    .query:hover {
      background-color: lightsalmon;
      color: white;
      cursor: pointer;
    }
  }
}